/*
 Theme Name:   Rio Datamine
 Description:  A generatepress Child Theme
 Template:     generatepress
 Version:      1.0.0
 License:      GNU General Public License v2 or later
 License URI:  http://www.gnu.org/licenses/gpl-2.0.html
 Tags:         light, dark, trhee-columns, right-sidebar, responsive-layout, accessibility-ready
 Text Domain:  datamine
*/
 

 /*
 Theme Name:   Rio Datamine
 Description:  A generatepress Child Theme
 Template:     generatepress
 Version:      1.0.0
 License:      GNU General Public License v2 or later
 License URI:  http://www.gnu.org/licenses/gpl-2.0.html
 Tags:         light, dark, trhee-columns, right-sidebar, responsive-layout, accessibility-ready
 Text Domain:  datamine
*/
 
 *, *:before, *:after {
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
    -webkit-transition: all ease 0.3s;
       -moz-transition: all ease 0.3s;
            transition: all ease 0.3s;
}

body {
    background: url("../datamine/images/bg.png") repeat-x 0 0 scroll #f3f3f3;
}  


.box {
    background: #FFF;
    border-bottom: 4px solid #E6E6E6;
    padding: 20px;
    width: 100%;
}

.left {
    float: left;
}

.right {
    float: right;
}

.span3 {
    width: 25%;
}

.span4 {
    width: 33.33%;
}

.span6 {
    width: 50%;
}

.span3, .span4, .span6 {
    float: left;    
}

section {
    float: left;
    margin: 10px 0;
    width: 100%;
}

.prefeitura-logo {
    display: block;
    margin: 0 auto;
    width: 91px;
    height: 60px;
}

input[type="text"] {
    border-color: #e3e3e3;
    border-style: solid;
    border-width: 0 0 3px;
    height: 45px;
    padding: 8px 13px;
}

.btn-primary {
    background-color: #0089cf;
    border-color: #0075bb;
    border-radius: 0;
    border-width: 0 0 3px;
    height: 45px;
    padding: 8px 10px;
}

.search .btn-primary {
    margin: -2px 0 0 -4px;
}

.search .btn-primary, .category-search .btn-primary {
    background: #0089cf url("../datami../datamine/images/search.png") no-repeat scroll center center;
    font-size: 0;
    margin: -2px 0 0 -4px;
    width: 45px;
}

.btn-primary:hover {
    background-color: #0075bb;
    border-color: #0065ab;
    border-radius: 0;
}

::-webkit-input-placeholder {
   font-style: italic;
}

::-moz-placeholder { 
   font-style: italic;  
}

:-ms-input-placeholder {  
   font-style: italic;
}


/* INTRO */

.intro h1 {
    color: #39bb9d;
    font-size: 3em;
    font-weight: 600;
    text-align: center;
    text-shadow: 2px 2px 1px rgba(0,0,0,0.1);
}

.intro p{
	font-size: 1.1em;
	text-align: center;
}

/* END INTRO */

/* CATEGORIES */

.categories {
	margin: 0 0 25px;
	padding: 20px 10px;
}

.categories .span3 {
	margin: 10px 0;
	padding: 0 20px;
}

.categories a {
	display: table;
	height: 200px;
	width: 100%;
}

.categories a > span {
    color: #fff;
    display: table-cell;
    font-size: 18px;
    line-height: 22px;
    padding: 63% 10px 0;
    text-align: center;
    text-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
    vertical-align: middle;
}

.saude {
	background: url("../datamine/images/saude.png") no-repeat center 40px #00a651;
	border-bottom: 3px solid #1c8650;
}

a.saude:hover {
	background-color: #016b35;
	border-color: #004b15;
}

.educacao {
	background: url("../datamine/images/educacao.png") no-repeat center 40px #39bb9d;
	border-bottom: 3px solid #1a886f;
}

a.educacao:hover {
	background-color: #1a886f;
	border-color: #00684f;
}

.transporte {
	background: url("../datamine/images/transporte.png") no-repeat center 40px #ffcc01;
	border-bottom: 3px solid #bfa80f;
}

a.transporte:hover {
	background-color: #eebe00;
	border-color: #ce9e00;
}

.defesa-consumidor {
	background: url("../datamine/images/defesa-consumidor.png") no-repeat center 40px #f04e23;
	border-bottom: 3px solid #b33a1a;
}

a.defesa-consumidor:hover {
	background-color: #b33a1a;
	border-color: #931a00;
}

.habitacao {
	background: url("../datamine/images/habitacao.png") no-repeat center 40px #782b90;
	border-bottom: 3px solid #541767;
}

a.habitacao:hover {
	background-color: #541767;
	border-color: #340047;
}

.ordem-publica {
	background: url("../datamine/images/ordem-publica.png") no-repeat center 40px #005485;
	border-bottom: 3px solid #004066;
}

a.ordem-publica:hover {
	background-color: #004066;
	border-color: #002046;
}

.gestao {
	background: url("../datamine/images/gestao.png") no-repeat center 40px #0089cf;
	border-bottom: 3px solid #00679c;
}

a.gestao:hover {
	background-color: #00679c;
	border-color: #00477c;
}

.todos {
	background: url("../datamine/images/todos.png") no-repeat center 40px #3f3f3f;
	border-bottom: 3px solid #222222;
}

a.todos:hover {
	background-color: #222222;
	border-color: #000000;
}


.trabalho {
    background: url("../datamine/images/trabalho.png") no-repeat center 40px #52CDE8;
    border-bottom: 3px solid #3A9DB3;
}

a.trabalho:hover {
    background-color: #3A9DB3;
    border-color: #0C6894;
}

.porto-maravilha {
    background: url("../datamine/images/porto.png") no-repeat center 40px #FF9201;
    border-bottom: 3px solid #D27A06;
}

a.porto-maravilha:hover {
    background-color: #D27A06;
    border-color: #A9640A;
}

.rio-social {
    background: url("../datamine/images/social.png") no-repeat center 40px #FF7492;
    border-bottom: 3px solid #DA5C77;
}

a.rio-social:hover {
    background-color: #DA5C77;
    border-color: #B1435B;
}

.rio-acessivel {
    background: url("../datamine/images/acessivel.png") no-repeat center 40px #529CE8;
    border-bottom: 3px solid #377DC5;
}

a.rio-acessivel:hover {
    background-color: #377DC5;
    border-color: #0C6894;
}

.ambiente {
    background: url("../datamine/images/ambiente.png") no-repeat center 40px #B3733B;
    border-bottom: 3px solid #7D4E24;
}

a.ambiente:hover {
    background-color: #7D4E24;
    border-color: #5A3616;
}

.turismo {
    background: url("../datamine/images/turismo.png") no-repeat center 40px #279A81;
    border-bottom: 3px solid #206D5C;
}

a.turismo:hover {
    background-color: #206D5C;
    border-color: #1C5A4D;
}

.cultura {
    background: url("../datamine/images/cultura.png") no-repeat center 40px #F34F5B;
    border-bottom: 3px solid #CC3742;
}

a.cultura:hover {
    background-color: #CC3742;
    border-color: #A92933;
}

.diversidade {
    background: url("../datamine/images/diversidade.png") no-repeat center 40px #BF497F;
    border-bottom: 3px solid #882A55;
}

a.diversidade:hover {
    background-color: #882A55;
    border-color: #731D44;
}

.naves {
    background: url("../datamine/images/nave.png") no-repeat center 40px #367B50;
    border-bottom: 3px solid #205F37;
}

a.naves:hover {
    background-color: #205F37;
    border-color: #245A39;
}

.big-data {
    background: url("../datamine/images/big-data.png") no-repeat center 40px rgb(185, 69, 69);
    border-bottom: 3px solid #882E2E;
}

a.big-data:hover {
    background-color: #882E2E;
    border-color: #501616;
}

.empreendedorismo {
    background: url("../datamine/images/empreendedorismo.png") no-repeat center 40px #FFB31F;
    border-bottom: 3px solid #D89717;
}

a.empreendedorismo:hover {
    background-color: #3A9DB3;
    border-color: #0C6894;
}

.esporte {
    background: url("../datamine/images/esporte.png") no-repeat center 40px #D0A95E;
    border-bottom: 3px solid #B18F4E;
}

a.esporte:hover {
    background-color: #B18F4E;
    border-color: #98793C;
}

.seguranca {
    background: url("../datamine/images/seguranca.png") no-repeat center 40px #435386;
    border-bottom: 3px solid #293763;
}

a.seguranca:hover {
    background-color: #293763;
    border-color: #1E2B52;
}

.one-container div.container, div.inside-article {
	background-color: transparent;
}

.main-navigation .main-nav ul li a, .menu-toggle {
    color: #005485;
}

header.site-header {
    background-color: transparent;
}

nav#site-navigation,  nav#site-navigation ul ul {
    background-color: #FFCC01;
}

.main-navigation .main-nav ul .current-menu-item > a, .main-navigation .main-nav ul .current-menu-parent > a, .main-navigation .main-nav ul .current-menu-ancestor > a {
    color: #005485;
    background-color: transparent;
}

.main-navigation .main-nav ul .current-menu-item > a, .main-navigation .main-nav ul .current-menu-parent > a, .main-navigation .main-nav ul .current-menu-ancestor > a {
    color: #005485;
    background-color: transparent;
}

.main-navigation .main-nav ul li a, .menu-toggle, .main-navigation .mobile-bar-items a {
    padding-left: 15px;
    padding-right: 15px;
    line-height: 40px;
    font-size: 18px;
    font-weight: 600;
}

div.inside-header {
    padding: 20px 0 0;
}

.separate-containers .inside-article, .separate-containers .comments-area, .separate-containers .page-header, .separate-containers .paging-navigation, .one-container .site-content {
    padding: 0;
}

.site-info {
    background-color: #005485;
    margin-bottom: -18px;
    padding: 5px 0;
}

article.type-post {
    background: #fff;
    margin-top: 20px;
    padding: 10px 20px;
}

h1.entry-title {
    color: #005485;
}

.post .entry-meta {
    display: table;
    margin-bottom: 10px;
    width: 100%;
}

.autor {
    float: left;
}

.autor span, .post .app-category a {
    color: #68B528;
    font-weight: 600;
}

.app-category {
    float: right;
}

.app-image {
    float: right;
    border: 1px solid #E4E4E4;
    height: 130px;
    margin-left: 40px;
    margin-top: -40px;
    overflow: hidden;
    width: 130px;
}

.app-image img {
    max-height: 100%;
    width: auto;
}

hr {
    margin: 20px 0;
}

.category header.page-header {
    float: left;
}

#main span.icon {
    background-size: 80px auto;
    display: block;
    float: left;
    height: 110px;
    width: 110px;
}

.category.archive h1.page-title {
    line-height: 110px;
    padding-left: 20px;
    font-size: 30px;
    font-weight: 600;
}

.category main#main {
    background: #fff;
    margin-top: 20px;
}

.cat-header {
    border-bottom: 1px solid #EFEFEF;
    float: left;
    width: 100%;
    padding: 20px;
}

.cat-header header.page-header {
    margin: 0;
}

.category .post-image {
    display: none;
}

.category.archive article.post {
    background-color: #f3f3f3;
    border-bottom: 3px solid #e6e6e6;
    float: left;
    margin: 25px;
    padding: 15px 15px 0;
    position: relative;
    width: calc(100% - 50px);
}

p.read-more-container {
    display: none;
}


.app-link {
    float: left;
    margin: 0px 15px 15px 0;
    width: 130px;
}

.category.archive .app-image {
    background: #fff;
    float: left;
    margin: 0;
}

.app-link a {
    background: #005485;
    text-align: center;
    color: #fff;
    float: left;
    width: 100%;
}

.category.archive .app-image {
    background: #fff;
    float: left;
    margin: 0;
}

.app-link a {
    background: #005485;
    text-align: center;
    color: #fff;
    float: left;
    width: 100%;
}

.category.archive .autor {
    float: right;
}

.category.archive h2.entry-title {
    float: left;
}

.category.archive header.entry-header {
    float: left;
    width: calc(100% - 150px);
}

.category.archive .entry-content, .category.archive div.inside-article {
    margin: 0;
    padding: 0;
}



.category-saude span.icon{
    background: url("../datamine/images/saude.png") no-repeat center center #00a651;
    border-bottom: 3px solid #1c8650;
}

.category-educacao span.icon {
    background: url("../datamine/images/educacao.png") no-repeat center center #39bb9d;
    border-bottom: 3px solid #1a886f;
}

.category-transporte span.icon {
    background: url("../datamine/images/transporte.png") no-repeat center center #ffcc01;
    border-bottom: 3px solid #bfa80f;
}

.category-defesa-consumidor span.icon {
    background: url("../datamine/images/defesa-consumidor.png") no-repeat center center #f04e23;
    border-bottom: 3px solid #b33a1a;
}

.category-habitacao-e-urbanizacao span.icon {
    background: url("../datamine/images/habitacao.png") no-repeat center center #782b90;
    border-bottom: 3px solid #541767;
}

.category-ordem-publica span.icon {
    background: url("../datamine/images/ordem-publica.png") no-repeat center center #005485;
    border-bottom: 3px solid #004066;
}

.category-gestao-publica-e-prefeitura-presente span.icon {
    background: url("../datamine/images/gestao.png") no-repeat center center #0089cf;
    border-bottom: 3px solid #00679c;
}

.category-todos span.icon {
    background: url("../datamine/images/todos.png") no-repeat center center #3f3f3f;
    border-bottom: 3px solid #222222;
}

.category-trabalho span.icon {
    background: url("../datamine/images/trabalho.png") no-repeat center center #52CDE8;
    border-bottom: 3px solid #3A9DB3;
}

.category-porto-maravilha span.icon {
    background: url("../datamine/images/porto.png") no-repeat center center #FF9201;
    border-bottom: 3px solid #D27A06;
}

.category-rio-social span.icon {
    background: url("../datamine/images/social.png") no-repeat center center #FF7492;
    border-bottom: 3px solid #DA5C77;
}

.category-rio-acessivel span.icon {
    background: url("../datamine/images/acessivel.png") no-repeat center center #529CE8;
    border-bottom: 3px solid #377DC5;
}

.category-meio-ambiente-e-sustentabilidade span.icon {
    background: url("../datamine/images/ambiente.png") no-repeat center center #B3733B;
    border-bottom: 3px solid #7D4E24;
}

.category-turismo span.icon {
    background: url("../datamine/images/turismo.png") no-repeat center center #279A81;
    border-bottom: 3px solid #206D5C;
}

.category-cultura span.icon {
    background: url("../datamine/images/cultura.png") no-repeat center center #F34F5B;
    border-bottom: 3px solid #CC3742;
}

.category-diversidade span.icon {
    background: url("../datamine/images/diversidade.png") no-repeat center center #BF497F;
    border-bottom: 3px solid #882A55;
}

.category-naves-do-conhecimento span.icon {
    background: url("../datamine/images/nave.png") no-repeat center center #367B50;
    border-bottom: 3px solid #205F37;
}

.category-big-data span.icon {
    background: url("../datamine/images/big-data.png") no-repeat center center rgb(185, 69, 69);
    border-bottom: 3px solid #882E2E;
}

.category-empreendedorismo span.icon {
    background: url("../datamine/images/empreendedorismo.png") no-repeat center center #FFB31F;
    border-bottom: 3px solid #D89717;
}

.category-esporte span.icon {
    background: url("../datamine/images/esporte.png") no-repeat center center #D0A95E;
    border-bottom: 3px solid #B18F4E;
}

.category-seguranca-publica span.icon {
    background: url("../datamine/images/seguranca.png") no-repeat center center #435386;
    border-bottom: 3px solid #293763;
}


.category-saude h1.page-title{
    color: #00a651;
}

.category-educacao h1.page-title {
    color: #39bb9d;
}

.category-transporte h1.page-title {
    color: #ffcc01;
}

.category-defesa-consumidor h1.page-title {
    color: #f04e23;
}

.category-habitacao-e-urbanizacao h1.page-title {
    color: #782b90;
}

.category-ordem-publica h1.page-title {
    color: #005485;
}

.category-gestao-publica-e-prefeitura-presente h1.page-title {
    color: #0089cf;
}

.category-todos h1.page-title {
    color: #3f3f3f;
}

.category-trabalho h1.page-title {
    color: #52CDE8;
}

.category-porto-maravilha h1.page-title {
    color: #FF9201;
}

.category-rio-social h1.page-title {
    color: #FF7492;
}

.category-rio-acessivel h1.page-title {
    color: #529CE8;
}

.category-meio-ambiente-e-sustentabilidade h1.page-title {
    color: #B3733B;
}

.category-turismo h1.page-title {
    color: #279A81;
}

.category-cultura h1.page-title {
    color: #F34F5B;
}

.category-diversidade h1.page-title {
    color: #BF497F;
}

.category-naves-do-conhecimento h1.page-title {
    color: #367B50;
}

.category-big-data h1.page-title {
    color: rgb(185, 69, 69);
}

.category-empreendedorismo h1.page-title {
    color: #FFB31F;
}

.category-esporte h1.page-title {
    color: #D0A95E;
}

.category-seguranca-publica h1.page-title {
    color: #435386;
}

.main-navigation ul ul {
    top: 40px;
}